h1{
    color: rgb(27, 27, 205);
    background-color: rgb(121, 121, 190);
    text-align: center;
    border-radius: 50px;
    font-style: oblique;
    width: 100%;
}


body{
    background-color: rgb(48, 52, 179);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    background-color: rgb(205, 186, 42);
    color: blue
    display: block;
    text-align: center;
    margin: 20px;
    padding: 10px;


}

img{
    width: 100%;
}