h1{
    color: rgb(73, 73, 122);
    background-color: rgb(191, 191, 211);
    text-align: center;
    border-radius: 50px;
    font-style: oblique;
    width: 100%;
}


body{
    background-color: rgb(189, 159, 216);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    background-color: cyan;
    color: blue
    display: block;
    text-align: center;
    margin: 20px;
    padding: 10px;


}

img{
    width: 100%;
}